<%= simple_form_for(@hexagramme) do |f| %>
<div class="form-group">
  <%#= f.label :nom %>
  <%= f.input :nom, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :description %>
  <%= f.text_field :description, class: 'form-control', placeholder: @hexagramme.description %>
</div>

<div class="form-group">
  <%= f.label :jugement %>
  <%= f.text_field :jugement, class: 'form-control', placeholder: @hexagramme.jugement %>
</div>

<div class="form-group">
  <%= f.label :jugement_description %>
  <%= f.text_field :jugement_description, class: 'form-control', placeholder: @hexagramme.jugement_description %>
</div>

<div class="form-group">
  <%= f.label :trait1 %>
  <%= f.text_field :trait1, class: 'form-control', placeholder: @hexagramme.trait1 %>
</div>

<div class="form-group">
  <%= f.label :trait1_description %>
  <%= f.text_field :trait1_description, class: 'form-control', placeholder: @hexagramme.trait1_description %>
</div>

<div class="form-group">
  <%= f.label :trait2 %>
  <%= f.text_field :trait2, class: 'form-control', placeholder: @hexagramme.trait2 %>
</div>

<div class="form-group">
  <%= f.label :trait2_description %>
  <%= f.text_field :trait2_description, class: 'form-control', placeholder: @hexagramme.trait2_description %>
</div>

<div class="form-group">
  <%= f.label :trait3 %>
  <%= f.text_field :trait3, class: 'form-control', placeholder: @hexagramme.trait3 %>
</div>

<div class="form-group">
  <%= f.label :trait3_description %>
  <%= f.text_field :trait3_description, class: 'form-control', placeholder: @hexagramme.trait3_description %>
</div>

<div class="form-group">
  <%= f.label :trait4 %>
  <%= f.text_field :trait4, class: 'form-control', placeholder: @hexagramme.trait4 %>
</div>

<div class="form-group">
  <%= f.label :trait4_description %>
  <%= f.text_field :trait4_description, class: 'form-control', placeholder: @hexagramme.trait4_description %>
</div>

<div class="form-group">
  <%= f.label :trait5 %>
  <%= f.text_field :trait5, class: 'form-control', placeholder: @hexagramme.trait5 %>
</div>

<div class="form-group">
  <%= f.label :trait5_description %>
  <%= f.text_field :trait5_description, class: 'form-control', placeholder: @hexagramme.trait5_description %>
</div>

<div class="form-group">
  <%= f.label :trait6 %>
  <%= f.text_field :trait6, class: 'form-control', placeholder: @hexagramme.trait6 %>
</div>

<div class="form-group">
  <%= f.label :trait6_description %>
  <%= f.text_field :trait6_description, class: 'form-control', placeholder: @hexagramme.trait6_description %>
</div>

<div class="form-group">
  <%= f.label :numero %>
  <%= f.text_field :numero, class: 'form-control', placeholder: @hexagramme.numero %>
</div>

<div class="form-group">
  <%= f.label :grande_image %>
  <%= f.text_field :grande_image, class: 'form-control', placeholder: @hexagramme.grande_image %>
</div>

<div class="form-group">
  <%= f.label :dixieme_aile %>
  <%= f.text_field :dixieme_aile, class: 'form-control', placeholder: @hexagramme.dixieme_aile %>
</div>

<div class="form-group">
  <%= f.label :nucleaire %>
  <%= f.text_field :nucleaire, class: 'form-control', placeholder: @hexagramme.nucleaire %>
</div>

<div class="form-group">
  <%= f.label :oppose %>
  <%= f.text_field :oppose, class: 'form-control', placeholder: @hexagramme.oppose %>
</div>

<div class="form-group">
  <%= f.label :renverse %>
  <%= f.text_field :renverse, class: 'form-control', placeholder: @hexagramme.renverse %>
</div>

<div class="form-group">
  <%= f.label :image %>
  <%= f.text_field :image, class: 'form-control', placeholder: @hexagramme.image %>
</div>

<%= f.submit class: 'btn btn-primary' %>
<% end %>
