<%= simple_form_for(@hexagramme) do |f| %>
  <div class="form-group">
    <%#= f.label :nom %>
    <%= f.input :nom, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control', placeholder: @hexagramme.description %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<!--     t.integer "numero"
    t.string "nom"
    t.text "description"
    t.text "jugement"
    t.text "jugement_description"
    t.text "trait1"
    t.text "trait1_description"
    t.text "trait2"
    t.text "trait2_description"
    t.text "trait3"
    t.text "trait3_description"
    t.text "trait4"
    t.text "trait4_description"
    t.text "trait5"
    t.text "trait5_description"
    t.text "trait6"
    t.text "trait6_description"
    t.text "grande_image"
    t.text "dixieme_aile"
    t.text "nucleaire"
    t.text "oppose"
    t.text "renverse"
    t.string "image" -->
