<div class="wrapper">

  <%= link_to edit_hexagramme_path(@hexagramme) do %>

  <div class="large-btn">Edit</div>

  <% end %>
  <div>
    <%= @hexagramme.nom %>
  </div>
  <div>
    <%= @hexagramme.description %>
  </div>
  <div>
    <%= @hexagramme.jugement %>
  </div>
  <div>
    <%= @hexagramme.jugement_description %>
  </div>
  <div>
    <%= @hexagramme.trait1 %>
  </div>
  <div>
    <%= @hexagramme.trait1_description %>
  </div>
  <div>
    <%= @hexagramme.trait2 %>
  </div>
  <div>
    <%= @hexagramme.trait2_description %>
  </div>
  <div>
    <%= @hexagramme.trait3 %>
  </div>
  <div>
    <%= @hexagramme.trait3_description %>
  </div>
  <div>
    <%= @hexagramme.trait4 %>
  </div>
  <div>
    <%= @hexagramme.trait4_description %>
  </div>
  <div>
    <%= @hexagramme.trait5 %>
  </div>
  <div>
    <%= @hexagramme.trait5_description %>
  </div>
  <div>
    <%= @hexagramme.trait6 %>
  </div>
  <div>
    <%= @hexagramme.trait6_description %>
  </div>
</div>

<!--     t.integer "numero"
    t.string "nom"
    t.text "grande_image"
    t.text "dixieme_aile"
    t.text "nucleaire"
    t.text "oppose"
    t.text "renverse"
    t.string "image" -->
